## Ignore File default
.DS_Store
*.log
*.bak
*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*.class
*~
.#*
.*.md.html

## Ignore File Project File
.classpath
.project
.settings
.factorypath
.gradle
.idea
.metadata
.flattened-pom.xml
.gradletasknamecache
.sts4-cache
.factorypath


bin
overridedb.*

secrets.yml
manifest.yml
settings.xml

MANIFEST.MF
target
transaction-logs

_site/
lib/
/build
/code
.vscode